.register-container{
    max-width: 70%;
    margin: 0 auto;
}
.register-container h1 {
    text-align: center;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.formelement {
    padding: 10px 0px;
}
.col3.formelement {
    text-align: left;
    padding-right: 38px;
}
sports.col3.formelement {
    padding-right: 82px;
}
.submit.col3.formelement {
    padding: 27px 97px;
}
.email.col1.formelement {
    padding-right: 109px;
}
.address.col1.formelement {
    padding-right: 60px;
}
.password.col2.formelement {
    padding-left: 120px;
}
.sports.col3.formelement {
    padding-right: 87px;
}